<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.demo.mapper.CommentMapper">
    <resultMap id="comment" type="com.ding.demo.entity.Comment">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="vedioId" column="vedioId"/>
        <result property="content" column="content"/>
        <result property="parentId" column="parentId"/>
        <result property="parentNickName" column="parentNickName"/>
        <association property="user" javaType="com.ding.demo.entity.User">
            <result property="nickName" column="nickName"/>
            <result property="avatar" column="avatar"/>
        </association>
    </resultMap>

    <select id="getAllCommentByVedioId" resultMap="comment">
        SELECT
        c.id,c.content as content,c.parent_id as parentId,c.parent_nick_name as parentNickName,c.user_id as userId,
        u.avatar as avatar,u.nick_name as nickName
        FROM `comment` c
        LEFT JOIN `user` u on c.user_id=u.id
        ${ew.customSqlSegment}
        order by c.id desc
    </select>
    <select id="getAllComment" resultMap="comment">
        SELECT
        c.id,c.content as content,c.parent_id as parentId,c.parent_nick_name as parentNickName,c.user_id as userId,
        u.avatar as avatar,u.nick_name as nickName
        FROM `comment` c
        LEFT JOIN `user` u on c.user_id=u.id
        ${ew.customSqlSegment}
    </select>
</mapper>
